.annotator {
  margin: 0 auto;
  height: 100%;
  width: 95%;
}

.workbench {
  position: relative;
  height: 600px;
  width: 100%;
  background-color: #eeeeee;
}

.canvas {
  display: block;
  position: relative;
  cursor: crosshair;
}

.btn-simple {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

.region {
  position: absolute;
}

.region-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0 4px;
  color: #ffffff;
  font-size: 12px;
}

.region-header--inactive {
  border: 2px solid #00b1b9;
  background-color: #00b1b9;
}
.region-header--active {
  border: 2px solid #ff7600;
  background-color: #ff7600;
}

.region-header span {
  flex: auto;
}

.region-body {
  width: 100%;
}

.region-body--inactive {
  border: 2px solid #00b1b9;
}
.region-body--active {
  border: 2px solid #ff7600;
}

.controls {
  clear: both;
}
.controls .btn-play {
  float: left;
}
.controls .timestamps {
  float: right;
}

.btn-play, .btn-play:enabled {
  color: #000080;
  font-size: 40px;
}
.btn-play:hover {
  color: #006079;
}

.data {
  display: flex;
  flex-direction: row;
}
.data-active {
  flex: 1;
  display: flex;
  flex-direction: row;
}
.data-all {
  flex: 1;
}
